name: Optimize

on:
  push:
    branches: 
        - main # the default branch
  pull_request:
    branches:
        - master

jobs:
  optimize:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Use Node.js 20.x
      uses: actions/setup-node@v2
      with:
        node-version: '20'
        
    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: node_modules
        key: ${{ runner.OS }}-npm-cache
        restore-keys: |
            ${{ runner.OS }}-npm-cache

    - name: Install dependencies
      run: npm install
      
    - name: Install Hexo CLI
      run: npm install hexo-cli -g
      
    - name: Generate static files
      run: hexo generate